html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.game-name {
  font-family: "Amatic SC", sans-serif;
  text-align: center;
  font-size: 2em;
  color: #14213d;
  margin-bottom: 30px;
}

h1,
p {
  margin: 10px;
}

body {
  background: #d0e0e6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.new-game-button {
  display: inline-block;
  padding: 20px 20px;
  margin: 20px 0 10px 0;
  border: 0.2em solid rgba(255, 255, 255, 0.1);
  border-radius: 2em;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 0.75em;
  color: #f08903;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.5);
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease all;
}

.new-game-button:hover {
  border-color: rgba(255, 255, 255, 2.5);
}

